@font-face {
  font-family: 'Bangers';
  src: url(../frameworks/Bangers.ttf);
}

body {
  font-family: 'Bangers', cursive;  padding-top: 5em;
  padding-bottom: 5em;
}

canvas {
  vertical-align: middle;
}
