@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
  font-family: 'Bangers', cursive;  padding-top: 5em;
  padding-bottom: 5em;
}
canvas {
  vertical-align: middle;
}

.extra-pad {
  padding: 0.25em;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
