@font-face {
  font-family: 'Upheaval';
  src: url(../frameworks/Upheaval.ttf);
}

@font-face {
  font-family: 'PixelArial';
  src: url(../frameworks/PixelArial.ttf);
}

body {
  background: #000;
  color: #fff;
  font-family: 'PixelArial', sans-serif;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

canvas {
  vertical-align: middle;
}

h1 {
  font-family: 'Upheaval', sans-serif;;
}

#start-game {
  display:none;
  border: 0;
  background-color: green;
  color: #fff;
}

.pulse {
  -webkit-animation: pulsate 0.9s infinite alternate;
  -moz-animation: pulsate 0.9s infinite alternate;
  -animation: pulsate 0.9s infinite alternate;
}

.panel {
  background-color: #000;
  border-color: #fff;
}

#config-bar {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#config-bar:hover {
  opacity: 1;
}

@-webkit-keyframes pulsate {
  from { box-shadow: 0 0 0px #fff; }
  to { box-shadow: 0 0 15px #4177BB; }
}
@-moz-keyframes pulsate {
  from { box-shadow: 0 0 0px #fff; }
  to { box-shadow: 0 0 15px #4177BB; }
}
@keyframes pulsate {
  from { box-shadow: 0 0 0px #fff; }
  to { box-shadow: 0 0 15px #4177BB; }
}

select#serial-select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

#serial-widget {
  margin-top: 0.5em;
  max-width: 75%;
}
